:root {
    --custom-light-blue: #f3f5fc;
    --custom-dark-blue: #0a3871;
    font-family: 'Inter', sans-serif;
}

#root {
    background-color: var(--custom-light-blue);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 38px;
}

#titulo {
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: var(--custom-dark-blue);
}

#encriptador {
    height: 100%;
    width: 100%;
}

#forma-encriptador { /*Cambiar flex-direction a column en tablet y celulares*/
    display: flex;
    margin-top: 0;
}

#input-mensaje {
    height: 48px;
    margin: 168px 183px 0 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    background-color: var(--custom-light-blue);
    border: none;
    color: var(--custom-dark-blue);
}

#signo-exclamacion {
    color: var(--custom-dark-blue);
    display: inline-block;
}

#aviso {
    display: inline-block;
    color: #495057;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.8;
    margin-bottom: 16px;
}

#encriptar, #desencriptar {
    display: inline-block;
    height: 67px;
    text-align: center;
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

#encriptar {
    margin-right: 20px;
    border: none;
    background-color: var(--custom-dark-blue);
    color: #fff;
}

#desencriptar {
    background-color: #d8dfe8;
    border: 1px solid var(--custom-dark-blue);
    color: var(--custom-dark-blue);
}

#output-mensaje {
    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#output-default-header {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
}

#output-default-parrafo {
    font-size: 16px;
    text-align: center;
}

::-moz-placeholder {
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    #root {
        width: 768px;
        height: 1174px;
    }

    main {
        height: calc(100% - 124px);
    }

    #logotipo-alura {
        margin-top: 34px;
    }

    #forma-encriptador {
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    #input-y-botones {
        position: relative;
        height: calc(100% - 197px);
    }

    #input-mensaje {
        width: 688px;
        margin-top: 116px;
    }

    #botones {
        position: absolute;
        bottom: 0;
        width: 688px;
    }

    #encriptar, #desencriptar {
        width: 330px;
    }

    #output-mensaje {
        position: absolute;
        bottom: 0;
        width: 688px;
        min-height: 133px;
        height: fit-content;
    }

    #muñeco-alura {
        display: none;
    }

    #output-default {
        height: 69px;
        width: 624px;
        margin: 32px;
    }

    #output-default-header {
        height: 29px;
    }

    #output-default-parrafo {
        height: 24px;
    }
}

@media only screen and (min-width: 1025px) {
    #root {
        width: 1440px;
        height: 1024px;
        margin: 0 auto;
    }

    header {
        display: flex;
        width: calc(100% - 400px);
        height: 48px;
    }

    #logotipo-alura {
        margin-top: 0;
    }

    /*#titulo {
        width: 100%;
        text-align: center;
        font: inherit;
    }*/

    main {
        height: calc(100% - 50px);
        width: calc(100% - 200px);
        margin-top: 0;
        margin-left: 120px;
        padding-left: 80px;
    }

    #forma-encriptador {
        flex-direction: row;
    }

    #input-y-botones {
        height: calc(100%);
        width: calc(100% - 400px);
    }

    #input-mensaje {
        width: 577px;
        margin: 168px 183px 0 0;
    }

    #botones {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    #encriptar, #desencriptar {
        width: 328px;
    }

    #encriptar {
        margin-right: 32px;
        border: none;
        background-color: var(--custom-dark-blue);
        color: #fff;
    }


    #desencriptar {
        background-color: #d8dfe8;
        border: 1px solid var(--custom-dark-blue);
        color: var(--custom-dark-blue);
    }

    #output-mensaje {
        display: inline-block;
        height: 944px;
        width: 400px;
        top: -48px;
        bottom: 0;
        right: 0;
    }

    #muñeco-alura {
        display: block;
        height: 304px;
        width: 336px;
        margin: 203px auto 0;
    }

    #output-default {
        height: 122px;
        width: 336px;
        margin: 32px auto 0;
    }

}